@model List<Presentation.Models.TypeRoomModel>



<div class="container pText">
    <br />
    <h4 class="titulopagina"> Tarifas </h4>
    <div class="row">
        @foreach (var content in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-12" >

                <div class="img">
                    <img src="@content.urlimage" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 text-justify">

                <h5>@content.description</h5>
                <p>
                    @content.descriptiontyperoom 


                </p>
                <ul>
                    <li>Cantidad de personas es @content.quantityperson </li>
                    <li>Número de camas es @content.quantitybed </li>
                    <li>Precio ₡@content.amount</li>
                </ul>
            </div>
        }
    </div>
    <br />
    
</div>