@{ ViewData["Title"] = "Datos";
                var typeRoom = ViewBag.TypeRoom; }

<div class="container pText">
    <br />
    <h4 class="titulopagina"> Reserva en linea </h4>
    <br />
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12" >
            <h6>Habitacion <small>@typeRoom.description</small>  </h6>
            <div class="img">
                <img src="@typeRoom.urlimage" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-12 text-justify">
                    <p>
                        @typeRoom.descriptiontyperoom
                    </p>
                </div>
                <div class="col-6"><h6> <small>Cantidad de camas: @typeRoom.quantitybed</small></h6></div>
                <div class="col-6"><h6> <small>Capacidad para @typeRoom.quantityperson persona(s)</small> </h6></div>
                <div class="col-12"><h5 style="color:red">Monto de su reservación por día:  <i id="amountperday" class="fas fa-dollar-sign">@typeRoom.amount</i>  </h5></div>
            </div>
        </div>
    </div>
        <div class="col-12">
            <div>
                <h3 id="welcomeback" style="color:blue"></h3>
                <div class="row">
                    <div class="col-12">
                        <form autocomplete="false" action="/Reservation/Confirmation">
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    <h5>Datos personales</h5>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <label for="idnumber" class="col-form-label">Identificación:</label>
                                    <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" type="number" pattern="[0-9]{9}" maxlength="9" minlength="9" min="100000000" placeholder="123456789" class="form-control" name="identification" id="idnumber" required>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <label for="email" class="col-form-label">Correo:</label>
                                    <input type="email" class="form-control" id="clientemail" name="email" required>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <label for="name" class="col-form-label">Nombre:</label>
                                    <input type="text" class="form-control" id="clientname" name="name" required>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <label for="lastname" class="col-form-label">Apellidos:</label>
                                    <input type="text" class="form-control" id="clientlastname" name="lastname" required>
                                </div>

                                <div class="col-12">
                                    <h5>Datos de reservación</h5>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <label for="arrivaldate">Fecha de llegada </label>
                                    <input type="date" class="form-control" id="arrivaldateF" name="arrivaldate" readonly required>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <label for="departuredate">Fecha de salida </label>
                                    <input type="date" class="form-control" id="departuredateF" name="departuredate" readonly required>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <label for="days" class="col-form-label">Cantidad de dias:</label>
                                    <input type="number" class="form-control" id="days" readonly required>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <label for="dayamount" class="col-form-label">Monto diario:</label>
                                    <input type="number" class="form-control" id="dayamount" value="@typeRoom.amount" readonly required>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <label for="totalamount" class="col-form-label">Monto total:</label>
                                    <input type="number" class="form-control" id="totalamount" name="amount" readonly required>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <input type="number" class="form-control" id="paymentcardid" name="paymentcardid" hidden readonly required>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label for="" class="col-form-label">Pago con Paypal:</label>
                                    <br />
                                    <button title="Pagar" id="payment" data-toggle="modal" class="btn btn-primary" type="submit">Procesar pago</button>
                                    <button title="Finalizar Compra" id="paymentConfirmation" class="btn btn-warning" type="submit">Finalizar Compra</button>
                                    <a  title="Volver" href="/Reservation/Home" class="btn btn-danger" >Cancelar</a>
                                    <p id="message" style="color:red"></p>
                                </div>
                               
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <input type="number" class="form-control" id="idroomF" name="idroom" value="" readonly required hidden>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br /><br />
                

                <label id="paymenterror"></label>
            </div>
        </div>
    
</div>


<!-- Modal -->
<div class="modal fade text-center" id="paymentModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog text-center" role="document">
        <div class="modal-content text-center">
            <div class="modal-body text-center">
                <form id="formpaypal" autocomplete="false">
                    <div class="col-md-12 text-center">
                        <img src="~/images/PayPal-Logo.png" id="paypallogo" />
                    </div>
                    <div class="form-group row text-center">
                        <div class="col-md-12 text-center">
                            <input id="paypalemail" type="text" class="form-control" placeholder="Correo electrónico" required>
                        </div>
                    </div>
                    <div class="form-group row text-center">
                        <div class="col-sm-12 text-center">
                            <input id="paypalpassword" type="password" class="form-control" placeholder="Ingrese su contraseña" required>
                        </div>
                    </div>
                    <div class="form-group row text-center">
                        <div class="col-sm-12 text-center">
                            <button type="submit" id="loginpaypal" class="btn btn-primary"> Iniciar sesion</button>
                            <br />
                            <label id="paypalerror" style="color:red"></label>
                        </div>

                    </div>
                    <div class="form-group row text-center">
                        <div class="col-sm-12 text-center">
                            <br />
                            <a href="#">¿Tienen problemas para iniciar sesion?</a>
                            <br />
                            <a>--- o ---</a>
                            <br />
                            <a href="https://www.paypal.com/welcome/flow/signup?flow=eyJyZXR1cm5VcmwiOiIvY3Ivd2ViYXBwcy9tcHAvd2VsY29tZS10by1wYXlwYWw.aW50MT1za2lwJmdlbj1tYWxlIiwiY2FuY2VsVXJsIjoiL2NyL3dlYmFwcHMvbXBwL3dlbGNvbWUtdG8tcGF5cGFsP2ludDE9c2tpcCZnZW49bWFsZSIsImZsYWdzIjpbImVuYWJsZUZJIl0sInRyYWZmaWNTb3VyY2UiOiJwcm9ncmVzc2l2ZW5vZGV3ZWIifQ==&returnUrl=https%3A%2F%2Fwww.paypal.com%2Fcr%2Fwebapps%2Fmpp%2Fwelcome-to-paypal%3Fint1%3Dskip&gen=male&tsrce=&product_flow=tesla&intent=tesla&country.x=CR&locale.x=es_XC" class="btn btn-secondary">Registrarse </a>
                        </div>
                    </div>
                </form>

                <form id="formpay" autocomplete="false" style="display:none">
                    <div class="row">
                        <div class="col-12">
                            <h3> Hotel Patito</h3>
                        </div>
                        <div class="col-12 separatorline2"></div>
                        <div class="col-6 text-left">
                            <h4><img src="~/images/PayPal-Logo.png" id="paypallogo" /></h4>
                        </div>
                        <div class="col-6 text-right">
                            <h4><i id="totalfinalpaypal" class="fas fa-dollar-sign"></i></h4>
                        </div>
                        <div class="col-12 separatorline2"></div>
                        <div class="col-12 text-left">
                            <p id="clientnameinpaypal">Nombre Cliente</p>
                        </div>
                        <div class="col-12 separatorline2"></div>
                        <div class="col-6 text-left">
                            <p>Enviar a: <small id="clientemailinpaypal">Email Cliente</small></p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" required>
                                <label class="form-check-label" for="defaultCheck2">
                                    Esta es mi direccion de preferencia
                                </label>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#">Cambiar</a>
                        </div>
                        <div class="col-12 separatorline2"></div>
                        <div class="col-12 text-left">
                            <p>Agregar tarjeta de crédito:</p>
                        </div>
                        <div class="col-6 text-left">
                            <input id="cardname" placeholder="Nombre en la tarjeta" required />
                        </div>

                        <br />
                        <br />
                        <div class="col-12 text-left">
                            <input pattern="^(6541|6556)[0-9]{15}$" type="number" id="PaymentCardNumber" maxlength="16" min="10000000000000" placeholder="Número de tarjeta" required />
                            <i class="fas fa-credit-card"></i>
                        </div>
                        <div class="col-12 text-left">
                            <i class="fab fa-cc-mastercard"></i><i class="fab fa-cc-visa"></i><i class="fab fa-cc-amex"></i><i class="fab fa-cc-discover"></i>
                        </div>
                        <br />
                        <div class="col-lg-6 col-md-12 col-sm-12 text-left">
                            <input id="PaymentCardDate" type="number" maxlength="4" min="0120" placeholder="MMAA" required pattern="[0-9]{4}" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 text-left">
                            <input id="PaymentCardCvv" type="number" maxlength="4" min="0000" placeholder="CVV" required pattern="[0-9]{3}"/>
                            <i class="far fa-credit-card"></i>
                        </div>
                    </div>
                    <br />
                    <br />
                    <label id="paypalerror2" style="color:red"></label>
                    <button id="PayConfirmation" type="submit" class="btn btn-primary">Pagar ahora</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
