@model List<Presentation.Models.TypeRoomModel>
@{
    List<SeasonModel> seasonlist = ViewBag.season;
    List<TypeRoomModel> typeroomlist = ViewBag.type;
}
<div class="container pText w-75">
    <br />
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <form action="/AdministratorSeason/insert" method="post">
                <div class="form-row">
                    <h5 class="text-center"> Temporadas y Ofertas Especiales </h5>
                    <div class="col-12">
                                <label for="typeroomS">Tipo de habitación:</label>
                                <select class="form-control" id="description" name="description">
                                    <option value="0">-Seleccione una opción-</option>
                                    @foreach (var typeroom in Model)
                                    {
                                        <option value="@typeroom.description">@typeroom.description</option>
                                    }
                                </select>
                        </div>
                    <div class="col-6">
                        <label for="arrivaldate">Fecha de Inicio</label>
                        <input type="date" class="form-control" id="dateinputseason" name="dateinputseason" onchange="datechange()" required>
                        <div class="valid-feedback">
                            Fecha selecionada
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="departuredate">Fecha Fin </label>
                        <input type="date" class="form-control" id="dateoutputseason" name="dateoutputseason" required>
                        <div class="valid-feedback">
                            Fecha selecionada
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="text-center">Porcentaje de la Temporada u Oferta </label>
                        <input type="number" id="percentation" name="percentation"><br><br>
                    </div>
                    <div class="col-12">
                        <h5 class="text-center">Descripción de la Temporada o Oferta </h5>
                        <textarea id="descriptionText" name="descriptionText" rows="8" cols="50"></textarea>
                    </div>
                    <div class="col-6">
                        <br />
                        <button title="Guardar" id="descriptionB" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-12 col-sm-12 table-responsive">
            <table class="table table-striped table-bordered table-sm" id="tableSeason" name="tableSeason" style="">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de Habitación</th>
                        <th>Fecha de Inicion</th>
                        <th>Fecha fin</th>
                        <th>Descripción</th>
                        <th>Porcentaje</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < seasonlist.Count(); i++)
                    {
                        <tr>
                            @for (int j = 0; j < typeroomlist.Count(); j++)
                            {
                                if (@seasonlist[i].idtyperoom == @typeroomlist[j].id)
                                {
                                    <td class="id">@seasonlist[i].id</td>
                                    <td class="desc">@typeroomlist[j].description</td>
                                    <td class="datein">@seasonlist[i].dateinputseason</td>
                                    <td class="dateout">@seasonlist[i].dateoutputseason</td>
                                    <td class="descrip">@seasonlist[i].description</td>
                                    <td class="percer">@seasonlist[i].percentation</td>
                                    @if (@seasonlist[i].state == 1)
                                    {
                                        <td><input type="checkbox" checked></td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox"></td>
                                    }
                                    <td href="#" id="deleteSeason" class="deleteSeason">Eliminar</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
