@model List<Presentation.Models.TypeRoomModel>
@{
    ViewBag.Title = "Actualizar";
    List<RoomModel> room = (List<RoomModel>)ViewBag.room;
    List<ReservationModel> reservation = (List<ReservationModel>)ViewBag.reservation;
}

<div class="container pText text-center w-75">
    <div style="display:none;" class="row" id="manageroom">
        <div class="col-12">
            <div>
                <br />
                <h4>Modificar Habitaciones </h4>
                <br />
                <h6>Home</h6>
                <form action="/AdministratorManageRooms/ManageRooms" method="post">
                    <div class="form-group ">
                        <label for="typeroomS">Tipo de habitación:</label>
                        <select class="form-control" id="description" name="description">
                            <option value="0">-Seleccione una opción-</option>
                            @foreach (var typeroom in Model)
                            {
                                <option value="@typeroom.description">@typeroom.description</option>
                            }
                        </select>
                    </div>
                </form>
                <br />

            </div>
        </div>

        <form action="/AdministratorManageRooms/Update" method="post">
            <input type="text" id="amount" name="amount"><br><br>

            <textarea id="descriptionArea" name="descriptionArea" rows="8" cols="50"></textarea>

            <div class="col-12">
                <div class="row w-75">
                    <div class="col-4 text-center">
                        <br />
                        <img src="~/images/Hotel_Patito-02.svg" id="image" name="image" alt="imagenHotelPatito" class="d-block w-100 img" />

                        <h6>Imagen Actual</h6>

                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="file" id="file">

                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <br />
                    <br />
                    <button id="descriptionB" type="submit" class="btn btn-primary">Guardar</button>
                    <button type="submit" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
    @* //////////////////////////////////////////////////////// *@
<div id="principal">
    <div>
        <br />
        <h5> Administrar Habitaciones</h5>
        <button id="updateRoom" type="button" class="btn btn-primary">Modificar Habitación</button>
    </div>
    @foreach (var typeroom in Model)
    {
        <div>
            <br />
            <h5>@typeroom.description</h5>
        </div>
    <table class="table table-striped table-bordered table-sm" id="tableTypeRoom">
        <thead>
            <tr>
                <th>Número de Habitación</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < room.Count(); i++)
            {
                if (room[i].idtyperoom.Equals(typeroom.id))
                {
                    <tr>
                        <td class="creationdate">@room[i].number</td>
                        @if (@room[i].state.Equals(1))
                        {
                            <td><input type="checkbox"></td>
                        }
                        else
                        {
                            <td><input type="checkbox" checked></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    }   
</div>
</div>

