@model List<Presentation.Models.TypeRoomModel>
@{
    var description = ViewBag.description;
    var descriptionType = ViewBag.descriptiontyperoom;
    var quantity = ViewBag.amount;
    var image = ViewBag.urlimage;
}

<!-- include summernote css/js -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-12">
                <div>
                    <br />
                    <h5>Modificar Habitaciones </h5>
                    <br />
                    <h6>Home</h6>
                    <form method="post">
                        <div class="form-group ">
                            <label for="typeroomS">Tipo de habitación:</label>
                            <select class="form-control" id="description" name="description" onchange="ShowSelected()">
                                <option value="0">-Seleccione una opción-</option>
                                @foreach (var typeroom in Model)
                                {
                                    <option value="@typeroom.description">@typeroom.description</option>
                                }
                            </select>
                        </div>
                        <button id="descriptionB" type="submit" class="btn-group">Obtener</button>
                        @if (quantity != null && description != null)
                        {
                            <h2>@description</h2>
                            <h2>@quantity</h2>
                        }


                    </form>
                    <br />
                    <div id="summernote"></div>
                    <script>
                        $("#summernote").summernote("editor.pasteHTML", "<p>@descriptionType</p>");
                    </script>
            </div>
        </div>
        <div class="col-12">
            <div class="row w-75">
                <div class="col-4 text-center">
                    <br />
                    <h6>Imagen Actual</h6>
                    @if (@image == null)
                    {
                        <div class="img">
                            <img src="~/images/Hotel_Patito-02.svg" alt="imagenHotelPatito" class="d-block w-100 img" />
                        </div>
                    }
                    else
                    {
                        <div class="img">
                            <img src=@image alt="imagenHotelPatito" class="d-block w-100 img" />
                        </div>
                    }
                </div>
                <div class="col-8">
                    <br />
                    <br />
                    <br />
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Home/Index" method="post" id="logoutForm" class="navbar-right">
                    <span class="navbar-text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"></span>
                    <button type="submit" class="btn navbar-btn navbar-link">Aceptar</button>
                </form>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Home/Index" method="post" id="logoutForm" class="navbar-right">
                    <span class="navbar-text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"></span>
                    <button type="submit" class="btn navbar-btn navbar-link">Cancelar</button>
                </form>
            </div>


        </div>
    </div>
</div>


<script type="text/javascript">
    function ShowSelected() {
        /* Para obtener el valor */
        var cod = document.getElementById("description").value;

        /* Para obtener el texto */
        var combo = document.getElementById("description");
        var selected = combo.options[combo.selectedIndex].text;
    }

    //$(function () {
//    $("#descriptionB").click(function () {
//        alert("Hola");
//    });
//});

    //$(document).ready(function () {
    //    $("#descriptionB").click(function () {
    //        alert("Hola");
    //        $.ajax({
    //            url: "/AdministratorManageRooms/Getroom/",
    //            type: "GET",
    //            data: { 'description': $('#description').val() },
    //            contentType: "application/json;charset=utf-8",
    //            dataType: "json",
    //            success: function (result) {
    //                if (result) {
    //                    $("#descriptionType").html(" " + result.description + " ");
    //                    //$("#quantity").html(" " + result.amount + " ");
    //                    //$("#image").html(" " + result.url + " ");

    //                    $("#alert").html("Hemos encontrado esta habitación para ti:");

    //                }
    //            },

    //                error: function(errorMessage) {
    //                    //alert(errorMessage.responseText);
    //                }
    //            });
    //    });
    //});


    //$(function () {
    //    $("#descriptionB").on("click", function () {
    //        alert("Hola");
    //        $.ajax({
    //            url: "/AdministratorManageRooms/GetRoom/",
    //            type: "GET",
    //            data: { 'description': $('#description').val() },
    //            contentType: "application/json;charset=utf-8",
    //            dataType: "json",
    //            success: function (result) {
    //                if (result) {
    //                    $("#descriptionType").html(" " + result.description + " ");
    //                    //$("#quantity").html(" " + result.amount + " ");
    //                    //$("#image").html(" " + result.url + " ");

    //                    $("#alert").html("Hemos encontrado esta habitación para ti:");
    //                },

    //                error: function (errorMessage) {
    //                    alert(errorMessage.responseText);
    //                }
    //            });
    //    });
    //});


</script>