@model List<Presentation.Models.TypeRoomModel>



<div class="container">
    <br />
    <h5 class="titulopagina"> Tarifas </h5>
    <div class="row">
        @foreach (var content in Model)
        {
            <div class="col-4">

                <div class="img">
                    <img src="@content.urlimage" class="img-fluid">
                </div>
            </div>
            <div class="col-8">

                <h6>@content.description</h6>
                <p>
                    @content.descriptiontyperoom 
                </p>
                <ul>
                    <li>Cantidad de personas es @content.quantityperson </li>
                    <li>Número de camas es @content.quantitybed </li>
                    <li>Precio @content.amount</li>
                </ul>
            </div>
        }
    </div>
    <br />
    
</div>